
.post-toggle.ng-hide, .post-form.ng-hide
    opacity 0
    pointer-events none
    
.login.ng-hide
    top -50%
    display block!important
    
.login
  transition top 0.3s ease-in-out

.helper-message
  transition margin-left 0.3s ease-in-out
  
.post
  transition background 0.3s ease-in-out, height 0.3s ease-in-out
  
.post-new
  transition all 0.3s ease-in-out

.post-toggle, .post-form
  transition opacity 0.3s ease-in-out