#audioplayer
    position absolute
    bottom 10px
    left 0px
    width 100%
    & audio
        width 100%
    & .playing
        width 100%
        background rgba(0,0,0,.2)
        padding 3px 5px