@import url(http //fonts.googleapis.com/css?family=Open+Sans 300,400,700)

form
  // background #f0f0f0
  // border-left 1px solid color-highlight
  // border-right 1px solid color-highlight
  //padding 6% 4%

input[type="email"],input[type="password"],input[type="name"],input[type="text"]
  border 1px solid #CCC
  padding 10px
  border-radius 4px
  width 100%
  background #fff
  font-family 'Open Sans',sans-serif
  font-size 95%
  color #555
  line-height normal
  -webkit-rtl-ordering logical
  -webkit-user-select text
  -webkit-appearance textfield
  cursor auto
input[name=title]
  border-bottom-left-radius 0px
  border-bottom-right-radius 0px
input[name=content]
  border-top-left-radius 0px
  border-top-right-radius 0px
  
textarea
  border 1px solid #CCC
  padding 10px
  border-radius 4px
  width 100%
  background #fff
  font-family 'Open Sans',sans-serif
  font-size 95%
  color #555
  line-height normal
  -webkit-rtl-ordering logical
  -webkit-user-select text
  -webkit-appearance textfield
  cursor auto
  display block

textarea[name=excerpt]
  border 0px
  border-left 1px solid #CCC
  border-right 1px solid #CCC
  border-radius 0px
  resize none
  
.input-content
  border 1px solid #CCC
  border-radius 4px
  padding 10px
  min-height 200px
  width 100%
  background #fff
  font-family 'Open Sans',sans-serif
  font-size 95%
  color #555
  border-top-left-radius 0px
  border-top-right-radius 0px
  
.drop-box 
    background #F8F8F8
    border 5px dashed #DDD
    width 200px
    height 65px
    text-align center
    padding-top 25px
    margin 10px

.dragover 
    border 5px dashed blue
