@media (max-width: 880px)

    .mast-core, .wrapper
        width calc( 100% - 10px ) !important
        padding 5px !important
    .module
        width calc( 100% - 10px ) !important
        left 5px !important
        margin 0px !important
    .site-title, .site-description
        display none