


<p>Add Sound</p>

<form class="post-form" ng-submit="addSound(newSound)">
    <div class="button button-ok" ng-file-select ng-multiple="false" ng-model="file" ng-file-change="setName(file[0].name)">Select File</div>
    <span ng-show="file">
        <input name="name" type="text" placeholder="Name" ng-model="form.name" autofocus="" />
        Person:
        <select ng-model="form.person" ng-options="person.name for person in persons" ></select>
        
        <button type="submit" class="button button-ok">Post</button>
        <div class="button button-cancel">Cancel</div>
    </span>
    <div style="clear:both"></div>
</form>

<p style="color: red">{{error}}</p>

<p>Uploaded</p>
<hr/>
<ul>
    <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
</ul>

